{% macro labeledInput(name, label='', value='', type='text', autocomplete='') -%}
    <div class="labeled input">
        <input type={{ type }} placeholder="{{ label }}" value="{{ value }}" name={{ name }} autocomplete={{ autocomplete }}>
        <label for={{ name }}>{{ label }}</label>
    </div>
{%- endmacro %}

{% macro button(label='', action='', class='') -%}
    <button class="button {{class}}" onclick={{action}}>{{label}}</button>
{%- endmacro %}

{% macro labelledHr(label='') -%}
    <hr data-label="{{label}}" class="labelledHr">
{%- endmacro %}

{% macro game(attacker, defender, field, gameId, state=None, winner=None)%}
    <div class="game grid">
        <div class="gameState">
            {% if state == 0 %}
            <span class="material-icons ongoing">hourglass_empty</span>
            {% else %}
                {% if winner == username %}
                <span class="material-icons win">emoji_events</span>
                {% elif winner == None %}
                <span class="material-icons even">balance</span>
                {% else %}
                <span class="material-icons loose">clear</span>
                {% endif %}
            {% endif %}
        </div>
        <a href="/games/{{gameId}}">
            <div class="gameThumbnail rows">
            <!-- {{field}} -->
            {% for entry in field %}
                <div class="gameTile" data-occupied-by="{{"x" if entry == 1 else "o" if entry == 0 else "false"}}"></div>
            {% endfor %}
            </div>
        </a>
        <h1>
            {%if attacker == None %}
                <span class="guestPlayer" class="attacker">guest</span>
            {% else %}
                <a href="/user/{{attacker}}"><span class="attacker">@{{attacker}}</span></a> 
            {% endif %}
            vs. 
            <a href="/user/{{defender}}"><span class="defender">@{{defender}}</span></a>
        </h1>
    </div>
{%- endmacro %}