.game td {
    width: min(33vw, 200px);
    height: min(33vw, 200px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 5px;
    background: #eee;
    margin: 5px;
    font-size: 40px;
}

.game {
    border-spacing: 0;
}

body {
    font-family: sans-serif;
    background-color: #f9f8f8;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-start;
}

main {
    padding: 20px;
    padding-bottom: 30px;
    box-shadow: 2px 2px 6px 0px #0000002b;
    border-radius: 5px;
    background: white;
    min-width: min(400px, 80vw);
    position: relative;
    gap: 0;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

h1 {
    display: flex;
    align-items: center;
    gap: 30px;
}

img.logo {
    height: 50px;
    width: 50px;
}