h1,
h2,
h3,
h4,
h5,
h6, 
span, 
label,
*::before, *::after {
    font-family: 'Poppins', sans-serif;
}

.noTextDecoration{
    text-decoration: none;
}

a{
    cursor: pointer;
}

a .showOnHover{
    opacity: 0;
    transition: opacity 0.33s;
}
a:hover .showOnHover{
    opacity: 1;
}

.material-icons{
    user-select: none;
}

.versionHash{
    font-size: 0.8em;
    color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
}