@media (max-width: 550px) {
    .gamePlayerInfo {
        flex-direction: column;
        align-items: stretch;
    }

    .playerInfo {
        justify-content: center;
        gap: 10px;
    }

    .tile:not(.popup > .tile) {
        padding: 0;
        background: transparent;
        box-shadow: none;
    }

    main {
        padding: 0px;
        background: white;
        padding-bottom: 100px;
    }

    .gameContainer {
        min-width: min(360px, 80vw);
        min-height: min(360px, 80vw);
    }

    .userInfo {
        border-radius: 0;
        box-shadow: none;
    }

    main>.homeLink {
        display: none;
    }
}