.warning {
    --padding:10px;
    position:absolute;
    bottom:0;
    width:100%;
    justify-content: flex-end;
    background: hsl(var(--accentHue) 40% 90%);
    z-index: 9999;
    padding: var(--padding);
    align-items: center;
    animation-name:warningSlideIn;
    animation-duration: 1.5s;
    animation-direction: normal;
    animation-play-state: running;
    animation-iteration-count: 1;
    height:50px;
    overflow:hidden;
}

.warning > span {
    position: absolute;
    left: var(--padding);
}
.warning > span > .material-icons {
    color:var(--warningColor);
}

@keyframes warningSlideIn{
    0%{
        height:0;
    }
    10%{
        height:50px;
    }
}