@import url(styles/hr.css);
@import url(styles/input.css);
@import url(styles/fonts.css);
@import url(styles/flex.css);
@import url(styles/containers.css);
@import url(styles/colorLight.css);
@import url(styles/colorDark.css);
@import url(styles/logo.css);
@import url(styles/warning.css);
@import url(styles/game.css);
@import url(styles/mobile.css);
@import url(styles/table.css);

:root{
    --navHeight: 50px;
    --accentHue: 193deg;
}

*{
    box-sizing: border-box;
}